.vs
/API/src/FireProtectionV1.Application/obj
/API/src/FireProtectionV1.Application/bin
/API/src/FireProtectionV1.Common/bin
/API/src/FireProtectionV1.Common/obj
/API/src/FireProtectionV1.Core/bin
/API/src/FireProtectionV1.Core/obj
/API/src/FireProtectionV1.EntityFrameworkCore/bin
/API/src/FireProtectionV1.EntityFrameworkCore/obj
/API/src/FireProtectionV1.Web/bin
/API/src/FireProtectionV1.Web/obj

/API/src/FireProtectionV1.Migrator/bin
/API/src/FireProtectionV1.Migrator/obj
bin
obj
bin
obj
bin
/API/src/FireProtectionV1.Web/App_Data/Logs/Logs.txt
/API/Test
/API/src/Publish
/API/src/FireProtectionV1.Web/Properties/PublishProfiles

/WebVue
/API/src/FireProtectionV1.Web/appsettings.json
/API/src/FireProtectionV1.Web/App_Data/Files/Photos/DataToDuty
